a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    background: #fbf9fe;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
}

blockquote,
q {
    quotes: "";
}

input,
textarea {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #666;
    background-color: #666;
    height: 1px;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    background-color: transparent;
}

a:active {
    background-color: transparent;
}

img {
    display: block;
}
//隐藏滚动条

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}